# OS
.DS_Store
Thumbs.db


# Node / general
node_modules/
*.log
npm-debug.log*


# Python
__pycache__/
*.pyc
.venv/


# n8n exports/backups
n8n/.backup/


# Env
.env
infra/n8n.env


# VSCode/IDE
.vscode/
.idea/